@font-face {
  font-family: zebars;
  src: url(assets/fonts/Zabars.ttf);
}

* {
  --btn-main: #ff9600;
  --btn-secendary: #994409;
  --btn-hover: #ffd70a;
  box-sizing: border-box;
}

.d-none {
  display: none !important;
}

.opacity0 {
  opacity: 0;
}

body {
  background-image: url(assets/img/background.png);
  font-family: "zebars", Helvetica, sans-serif;
}

.bodyMain {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-position: center;
}

.bodyHelp {
  background-position-x: center;
}

h1 {
  font-size: 80px;
  letter-spacing: 5px;
  margin-bottom: 2px;
  margin-top: 0;
}

h2 {
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 2px;
  margin-top: 30px;
}

.controls {
  font-size: 32px;
}

.impressum {
  font-size: 24px;
}

canvas {
  background-color: black;
  aspect-ratio: 3/2;
}

.game {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menue {
  position: absolute;
  width: 720px;
  height: 480px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  aspect-ratio: 3/2;
}
.menue-fade {
  background-color: rgba(0, 0, 0, 0.4);
}

#menue-top {
  width: 100%;
  padding-top: 5%;
  padding-left: 12.5%;
  padding-right: 12.5%;
}

#text {
  background-color: var(--btn-main);
  border: 2px solid var(--btn-secendary);
  border-radius: 30px;
  box-shadow: var(--btn-secendary) 4px 4px 0 0;
  color: var(--btn-secendary);
  display: inline-block;
  font-weight: 400;
  font-size: 36px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-family: "zebars", Helvetica, sans-serif;
  letter-spacing: 5px;
  opacity: 0;
}

#menue-play {
  display: flex;
  justify-content: space-between;
}

.button-play {
  background-color: var(--btn-main);
  border: 2px solid var(--btn-secendary);
  border-radius: 30px;
  box-shadow: var(--btn-secendary) 4px 4px 0 0;
  color: var(--btn-secendary);
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 36px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-family: "zebars", Helvetica, sans-serif;
  letter-spacing: 5px;
}

.button-play-action {
  animation: rotateFade 2s ease-in-out forwards;
}

.button-play-fade-out {
  animation: FadeOut 2s ease-in-out forwards;
}

.button-play-fade-in {
  animation: FadeIn 2s ease-in-out forwards;
}

.button-play:hover {
  background-color: var(--btn-hover);
}

.button-play:active {
  box-shadow: var(--btn-secendary) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@keyframes rotateFade {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 0;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menue-bottem {
  aspect-ratio: 12/1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menue-botten-left,
.menue-botten-right {
  height: 90%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.menue-botten-left {
  justify-content: flex-start;
  display: none;
}

.menue-botten-right {
  justify-content: flex-end;
}

.button-control {
  height: 100%;
  background-color: var(--btn-main);
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px var(--btn-secendary) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .button-control:hover {
  background-color: var(--btn-hover);
} */

.button-control img {
  height: 70%;
  aspect-ratio: 1/1;
}

.img-big {
  height: 100% !important;
}

@media only screen and (max-width: 720px) {
  canvas,
  .menue {
    width: 100%;
  }

  .menue {
    height: auto;
  }

  .menue-bottem {
    height: auto;
  }

  .button-control {
    width: 17%;
    height: auto;
  }
  .menue-botten-left {
    display: flex;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    display: none;
  }
}

@media only screen and (max-height: 570px) {
  h1 {
    display: none;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  .menue {
    width: 100%;
    height: 100vh;
  }
  .menue-botten-left {
    display: flex;
  }
}

@media only screen and ((max-width: 530px) or (max-height: 370px)) {
  .button-play {
    font-size: 20px;
    padding: 0 10px;
    line-height: 30px;
  }
}

@media only screen and (orientation: portrait) {
  .game,
  h1 {
    display: none;
  }
  #warning-message {
    display: block;
  }
}
@media only screen and (orientation: landscape) {
  #warning-message {
    display: none;
  }
}

#warning-message {
  background-color: var(--btn-main);
  border: 2px solid var(--btn-secendary);
  border-radius: 30px;
  box-shadow: var(--btn-secendary) 4px 4px 0 0;
  color: var(--btn-secendary);
  font-weight: 400;
  font-size: 48px;
  padding: 0 18px;
  margin: 0 24px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-family: "zebars", Helvetica, sans-serif;
  letter-spacing: 5px;
}
