@font-face {
  font-family: zebars;
  src: url(assets/fonts/Zabars.ttf);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(assets/img/background.png);
  background-position: center;
}

h1 {
  font-family: "zebars", Helvetica, sans-serif;
  font-size: 80px;
  letter-spacing: 5px;
  margin-bottom: 2px;
}

canvas {
  background-color: black;
}
